.settings_heading_open {
	background: #d53030;
	color: #fff;
	font-weight: 500;
}

.scheduled_time {
	background: #f0f0f0;
	margin-right: 5px;
	padding: 4px 5px 3px 5px;
	border-radius: 2px;
	color: #808080;
	font-family: courier;
	font-weight: bold;
}

.scheduled_time_active {
	background: #3ba33a;
	color: #fff;
}