<form class="edit_order_cost_form align_center">
	<input type="hidden" name="order_id" />
	<label class="block">
		<div class="label_heading">Cost (Before Fees)</div>
		<input type="text" name="amount" class="textbox" />
	</label>
	<label class="block">
		<div class="label_heading">Margin (%)</div>
		<input type="text" name="margin" class="textbox" />
	</label>
	<label class="block">
		<div class="label_heading">Delivery Fee</div>
		<input type="text" name="delivery_fee" class="textbox" />
	</label>
	<input type="submit" class="button" value="Update Order Cost" />
</form>